<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gutter</title>
    <link rel="stylesheet" href="../css/stylesheet.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
  </head>
  <body>
    <!-- Gutters are padding between your columns -->
    <!-- Horizontal space -->
    <h2>Horizontal space</h2>
    <h3>gx-0</h3>
    <div class="row gx-0">
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
    </div>
    <br />

    <h3>gx-1</h3>
    <div class="row gx-1">
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
    </div>
    <br />

    <h3>gx-2</h3>
    <div class="row gx-2">
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
    </div>
    <br />

    <h3>gx-3</h3>
    <div class="row gx-3">
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
    </div>
    <br />
    <h3>gx-4</h3>
    <div class="row gx-4">
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
    </div>
    <br />

    <h3>gx-5</h3>
    <div class="row gx-5">
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
    </div>
    <br />

    <h3>Responsive gx</h3>
    <div class="row gx-sm-1 gx-md-2 gx-lg-3 gx-xl-4 gx-xxl-5">
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-3">
        <div class="p-3 bg-primary border">Col</div>
      </div>
    </div>
    <br />

    <!-- Vertically -->
    <h2>Vertical Spacing</h2>
    <h2>GY-0</h2>
    <div class="row border gy-0">
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
    </div>
    <br />
    <h2>GY-1</h2>
    <div class="row border gy-1">
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
    </div>
    <br />
    <h2>GY-2</h2>
    <div class="row border gy-2">
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
    </div>
    <br />
    <h2>GY-3</h2>
    <div class="row border gy-3">
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
    </div>
    <br />
    <h2>GY-4</h2>
    <div class="row border gy-4">
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
    </div>
    <br />
    <h2>GY-5</h2>
    <div class="row border gy-5">
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
    </div>
    <br />
    <h2>GY-Responsive</h2>
    <div class="row border gy-sm-1 gy-md-2 gy-lg-3 gy-xl-4 gy-xxl-5">
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
      <div class="col-12 bg-primary border">Col</div>
    </div>
    <br />

    <!-- Horizontally and vertically -->
    <h2>Horizontal and vertical Gatters</h2>
    <h2>G-0</h2>
    <div class="row g-0">
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
    </div>
    <br />
    <h2>G-1</h2>
    <div class="row g-1">
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
    </div>
    <br />
    <h2>G-2</h2>
    <div class="row g-2">
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
    </div>
    <br />
    <h2>G-3</h2>
    <div class="row g-3">
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
    </div>
    <br />
    <h2>G-4</h2>
    <div class="row g-4">
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
    </div>
    <br />
    <h2>G-5</h2>
    <div class="row g-5">
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
    </div>
    <br />
    <h2>Responisve G</h2>
    <div class="row g-0 g-sm-1 g-md-2 g-lg-3 g-xl-4 g-xxl-5">
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
      <div class="col-6">
        <div class="p-3 bg-primary border">Col</div>
      </div>
    </div>
    <br />
    <script src="../js/bootstrap.bundle.min.js"></script>
  </body>
</html>
